@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --primary-color: rgba(255, 255, 255, 1);
    --secondary-color: rgba(255, 255, 255, 0.5);
    --tertiary-color: rgba(230, 83, 60, 1);
    --quaternary-color: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
body{
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}
/* Navbar related css */
nav{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
}
nav>h2{
    font-size: 2.25rem;
    font-weight: 800;
    font-style: italic;
    color: var(--tertiary-color);
}
nav>ul{
    display: flex;
    gap: 50px;
    align-items: center;
    border: 2px solid rgba(70, 63, 63, 0.5);
    border-radius: 30px;
    padding: 5px 8px;
}
nav>span{
    display: none;
    margin-right: 10px;
    font-size: 25px;
}
nav ul li{
    list-style: none;
}
nav ul li:first-child{
    background-color: var(--tertiary-color);
    padding: 5px 15px;
    border-radius: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.125rem;
    transition: all ease-in-out .5s;
}

nav ul li:hover a{
    background-color: var(--tertiary-color);
    padding: 5px 15px;
    border-radius: 20px;
}
/* Banner related css */
header>section{
    max-width: 1060px;
    margin:30px auto;
    display: flex;
    align-items: center;
}
header>section .banner-content{
    width: 50%;
}
header>section .banner-content>h1{
    font-size: 4rem;
    font-weight: 900;
}
header>section .banner-content>p{
   color: var(--secondary-color);
   margin: 30px auto; 
}
header>section .banner-content .btn-group{
    display: flex;
    gap: 20px;
}
header>section .banner-content .btn-group button{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
}
header>section .banner-content .btn-group button:last-child{
    border: 2px solid var(--secondary-color);
    background: transparent;
}
header>section .banner-image{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: end;
}
header>section .banner-image .tooltip-1{
    position: absolute;
    background: rgba(255, 255, 255, 0.175);
    top: 20%;
    right: -10%;
    padding: 15px;
    border-radius: 10px;
}
header>section .banner-image .tooltip-1 h3,
header>section .banner-image .tooltip-2 h3
{
    font-size: 2.5rem;
    font-weight: 800;
}
header>section .banner-image .tooltip-1 p,
header>section .banner-image .tooltip-2 p{
    color: var(--secondary-color);
}
header>section .banner-image .tooltip-2{
    position: absolute;
    background: rgba(255, 255, 255, 0.175);
    bottom: 15%;
    left: 15%;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}
header>section .banner-image .tooltip-2 .ball{
    height: 50px;
    width: 50px;
    background: var(--tertiary-color);
    border-radius: 50%;
}
/* Change your habit related css */
.change-your-habit{
    max-width: 1060px;
    margin: 50px auto;
}
.change-your-habit .content{
    max-width: 670px;
    margin: 30px auto;
    text-align: center;
}
.change-your-habit .content h2{
    font-size: 3rem;
    font-weight: 800;
}
.change-your-habit .content p{
    color: var(--secondary-color);
    margin: 10px auto;
}
.change-your-habit .cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
}
.change-your-habit .cards .single-card{
    text-align: center;
}
.change-your-habit .cards .single-card img{
    border-radius: 50%;
}
.change-your-habit .cards .single-card h3{
    font-size: 1.125rem;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 15px;
}
.change-your-habit .cards .single-card p{
    color: var(--secondary-color);
}
/* Run an extra related css */
.run-an-extra{
    max-width: 1060px;
    margin: 50px auto;
    padding: 25px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.run-an-extra .content h3{
    font-size: 3rem;
    font-weight: 800;
}
.run-an-extra .content p{
    color: var(--secondary-color);
    margin: 15px auto;
}
.run-an-extra .content button{
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 600;
}
.run-an-extra .image img{
    width: 100%;
    border-radius: 20px;
}
/* Training and Exercise related css */
.training-exercise{
    max-width: 1060px;
    margin: 50px auto;
}
.training-exercise .content{
    max-width: 680px;
}
.training-exercise .content h2{
    font-size: 3rem;
    font-weight: 800;
}
.training-exercise .content p{
    color: var(--secondary-color);
    margin-top: 15px;
    margin-bottom: 30px;
}
.training-exercise .image-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 210px);
}
.training-exercise .image-container img{
    width: 100%;
    height: 100%;
}
.training-exercise .image-container .image-1{background: rgba(6, 255, 209, 0.9);}
.training-exercise .image-container .image-1 img{mix-blend-mode: multiply;}
.training-exercise .image-container .image-2{grid-column: 2/4; background: rgba(255, 0, 0, 0.9);}
.training-exercise .image-container .image-2 img{mix-blend-mode: multiply;}
.training-exercise .image-container .image-3{background: rgba(128, 128, 128, 0.9);}
.training-exercise .image-container .image-3 img{mix-blend-mode: multiply;}
.training-exercise .image-container .image-4{grid-column: 1 / span 2; background: rgba(128, 128, 128, 0.9);}
.training-exercise .image-container .image-4 img{mix-blend-mode: multiply;}
.training-exercise .image-container .image-5{background: rgba(66, 255, 0, 0.9);}
.training-exercise .image-container .image-5 img{mix-blend-mode: multiply;}
.training-exercise .image-container .image-6{background: rgba(0, 72, 255, 0.9);}
.training-exercise .image-container .image-6 img{mix-blend-mode: multiply;}






/* Media query css for mobile */
@media screen and (max-width:576px) {
    nav>ul{display: none;}
    nav>span{display: inline;}

    header>section{flex-direction: column; text-align: center;}
    header>section .banner-content,
    header>section .banner-image{width: 100%;}
    header>section .banner-content .btn-group{justify-content: center;}
    header>section .banner-image{justify-content: center;}
    header>section .banner-image .tooltip-1{top: 35%; right: 5%;}

    .change-your-habit .cards{grid-template-columns: 1fr;}
    .change-your-habit .cards .single-card{margin-bottom: 25px;}

    .run-an-extra{flex-direction: column; text-align: center;}
    .run-an-extra .image{margin-top: 20px;}

    .training-exercise .image-container{grid-template-columns: repeat(2, 1fr);}
    .training-exercise .content{text-align: center;}
    .training-exercise .image-container .image-2,
    .training-exercise .image-container .image-4{grid-column: auto;}
    .training-exercise .image-container .image-3,
    .training-exercise .image-container .image-6{display: none;}
    
}